<div class="transactionEdit">
  <h4>Edit</h4>

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <label>Date</label>
    <input type='date' name="date" formControlName="date" /> <br />
    <label>Category</label>
    <input type='text' name="category" formControlName="category" /> <br />
    <label>Amount<span class="pull-right">$</span></label>
    <input type='number' name="amount" formControlName="amount" /> <br />
    <label>Debit Account</label>
    <input type='text' name="drAcct" formControlName="drAcct" /> <br />
    <label>Credit Account</label>
    <input type='text' name="crAcct" formControlName="crAcct" /> <br />
    <label>Tax</label>
    <input type='checkbox' name="tax" value="true" formControlName="tax" />
    <input type='submit' value="Update" />
    <button routerLink="/transactions">Cancel</button>
  </form>
</div>
