<div class="categories">
  <p *ngIf="!categories"><em>Loading...</em></p>

  <table>
    <caption>Categories</caption>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Tax?</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{category.id}}</td>
        <td>{{category.name}}</td>
        <td>&nbsp;<span *ngIf="category.tax" class='glyphicon glyphicon-record' style='color:green;'></span></td>
        <td>{{category.type}}</td>
        <td><a class="btn btn-xs editlink" routerLink="./category-edit/{{category.id}}">Edit</a></td>
        <td><a class="btn btn-xs deletelink" (click)="onDelete(category.id);">Delete</a></td>
      </tr>
    </tbody>
  </table>
  <a class="btn" id="addlink" routerLink="./category-add">Add New Category</a>
  <br />
  <router-outlet></router-outlet>
</div>
