<div class="accountAdd">
  <h4>Add</h4>

  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <label>Type</label>
    <input type='radio' name="acctType" formControlName="acctType" value="Asset" /> Asset
    <input type='radio' name="acctType" formControlName="acctType" value="Liability" /> Liability <br />
    <label>Name</label>
    <input type='text' name="name" formControlName="name" /> <br />
    <label>Institution</label>
    <input type='text' name="institution" formControlName="institution" /> <br />
    <label>Number</label>
    <input type='text' name="number" formControlName="number" /> <br />
    <label>Interest Rate</label>
    <input type='number' name="interest" formControlName="interest" />% <br />
    <label>Limit<span class="pull-right">$</span></label>
    <input type='number' name="limit" formControlName="limit" /> <br />
    <input type='submit' value="Add" />
    <button routerLink="/accounts">Cancel</button>
  </form>
</div>
