@{
  ViewData["Title"] = "Welcome";
}

<!--this page hosts login and register functinos-->
<div class="mainTitle">
  <p class="mainTitle-sub-fly">Chris Carter's</p>
  <p class="mainTitle-main-fly">PersonalLedger</p>
</div>
<div class="center lime">
  <p>A home bookkeeping application, using traditional debit-credit methodology, built as a hybrid MVC/SPA using:</p>
  <ul class="unstyledList left indented35">
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a>IdentityCore</a> for authentication and security</li>
    <li><a>EntityFrameworkCore</a> for relational object mapping</li>
    <li><a>XUnit</a>, <a>Karma</a> and <a>Protractor</a> for testing</li>
    <li><a href='https://angular.io/'>Angular 5</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
  </ul>
</div>
