<div class="transactionAdd">
  <h4>Add</h4>
    <p *ngIf="!form">Loading...</p>

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <label>Date</label>
      <input type='date' name="date" formControlName="date" /> <br />
      <label>Category</label>
      <select name="category" formControlName="category">
          <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
      </select> <br />
      <label>Amount<span class="pull-right">$</span></label>
      <input type='number' name="amount" formControlName="amount" /> <br />
      <label>Debit Account</label>
      <select name="drAcct" formControlName="drAcct">
          <option *ngFor="let account of accounts" value="{{account.id}}">{{account.name}}</option>
      </select> <br />
      <label>Credit Account</label>
      <select name="crAcct" formControlName="crAcct">
          <option *ngFor="let account of accounts" value="{{account.id}}">{{account.name}}</option>
      </select> <br />
      <label>Tax</label>
      <input type='checkbox' name="tax" value="true" formControlName="tax" />
      <input type='submit' value="Add" />
      <button routerLink="/transactions">Cancel</button>
  </form>
</div>
